* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.wrapper {
  display: flex;
  transition: all 0.3s ease;
  min-height: 100vh;
}

.icone-sidebar {
  font-size: 20px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  background: #013220;
  color: white;
  transition: width 0.3s ease;
  position: relative;
  overflow-x: hidden;
  margin-right: 2rem;
}

#sidebar.collapsed {
  width: 60px;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 8px;
  background: #013220;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}

.menu-toggle:hover  {
  background: #014d2c;
}
.menu-toggle:focus {
  outline: none;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 60px 0 0 0;
}

#sidebar ul li {
  padding-bottom: 20px;
  padding-left: 8px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

#sidebar ul li i {
  margin-right: 10px;
}

#sidebar ul li span {
  transition: opacity 0.3s ease;
  opacity: 1;
  display: inline-block;
}

#sidebar.collapsed ul li span {
  opacity: 0;
  transition-delay: 0.05s;
}

#sidebar.collapsed.hide-text ul li span {
  display: none;
}

#sidebar a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

#sidebar a:hover {
  background-color: #014d2c;
}

#sidebar a.active {
  background-color: #014d2c;
}

#content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 250px;
}

#sidebar.collapsed ~ #content {
  margin-left: 60px;
}

#main-content {
  margin-top: 3rem;
  width: 100%;
  position: relative;
  z-index: 1;
}