@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
}
.table {
  background-color: #1c1c1c;
  color: #f0f0f0;
}

.table th,
.table td {
  border-color: #333;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #2a2a2a;
}

.table-hover tbody tr:hover {
  background-color: #3a3a3a;
}
