:root {
  --clr-container-bg: rgba(255, 255, 255, 0.105);
  --clr-container-border: rgba(255, 255, 255, 0.196);
  --clr-buttons-bg: rgba(255, 255, 255, 0.209);
  --clr-highlight: var(--color-primary-500);
  --clr-btn-text: var(--color-text);
  --clr-btn-shadow: #444;
  --clr-social-icon: var(--color-text);
  --clr-input: var(--color-text);
  --clr-input-border: var(--color-primary-500);
  --clr-input-placeholder: var(--color-text-muted);
  --clr-submit-bg: var(--color-primary-500);
  --clr-submit-text: #fff;
  --clr-submit-border-hover: var(--color-primary-500);
  --clr-span: #777;
  --clr-terms: #fff;
  --clr-terms-link: #aad8d3;
  --box-shadow-buttons: 0 4px 10px 6px rgba(255, 255, 255, 0.15);
  --box-shadow-submit: 0 4px 55px rgba(255, 255, 255, 0.2);
  --bg-body-gradient: linear-gradient(to right, var(--color-primary-600), var(--color-primary-300));
  --backdrop-form: blur(19px);
  --hover-clr: var(--color-primary-500);
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  * {
    font-family: "Inter", sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000; /* Fundo preto */
    font-family: "Montserrat", sans-serif;
    overflow: hidden;

    /* Overlay */
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      backdrop-filter: brightness(0.9);
      z-index: -1;
    }
  }
}

@layer form {
  .container {
    background-color: var(--clr-container-bg);
    border: 1px solid var(--clr-container-border);
    backdrop-filter: var(--backdrop-form);
    position: relative;
    width: min(380px, 95vw);
    height: 490px;
    padding: 5px;
    border-radius: 2rem;
    overflow: clip;
    animation: slideDown 0.6s ease forwards;
  }

  .container__buttons {
    background-color: var(--clr-buttons-bg);
    box-shadow: var(--box-shadow-buttons);
    position: relative;
    display: flex;
    width: 220px;
    margin: 35px auto;
    border-radius: 30px;
  }

  .container__btn-highlight {
    background: var(--hover-clr);
    position: absolute;
    inset: 0;
    width: 110px;
    height: 100%;
    border-radius: 30px;
    transition: left 0.5s ease;
  }

  .toast-container {
    animation: fadeOut 3s forwards;
  }

  .container__toggle-btn {
    background: transparent;
    color: var(--clr-btn-text);
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    border: 0;
    outline: none;
    font-size: 14px;
    text-transform: capitalize;
    z-index: 99;
    transition: 0.3s ease; /* Esse ainda mantém, mas pode ser removido se não precisar de animação no hover */
  }

  /* Hover Efeito de Botões (login e register) */
  .container__toggle-btn:hover {
    background-color: var(--clr-btn-text);
    color: var(--hover-clr); /* Cor do texto em verde */
    border-radius: 30px;
  }

  .container__social-icons {
    gap: 0.7rem;

    a {
      display: block;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        scale: 1.2;
      }

      svg {
        color: var(--clr-social-icon);
        width: 24px;
        height: 24px;
      }
    }
  }

  .form {
    padding-inline: clamp(1rem, 5vw, 2.5rem);
    position: absolute;
    left: 0;
    width: 100%;
    transform: translateX(0%);
    transition: transform 0.5s ease;
  }

  .form__input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid var(--clr-input-border);
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: var(--clr-input);
    caret-color: var(--clr-input-border);
  }

  .form__input-container {
    position: relative;
    width: 100%;
  }

  .form__submit-btn {
    box-shadow: var(--box-shadow-submit);
    width: 80%;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: var(--clr-submit-text);
    background: var(--clr-submit-bg);
    border: 0;
    outline: none;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    text-transform: capitalize;
  }

  /* Hover Efeito de Botão de Submit */
  .form__submit-btn:hover {
    background-color: transparent;
    color: var(--hover-clr);
    border: 2px solid var(--hover-clr); /* Borda verde no hover */
  }

  .form__options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 20px 0;
  }

  .form__terms {
    color: var(--hover-clr);
    font-size: 14px;
    display: inline-block;
  }

  #login {
    transform: translateX(0%);
    top: 190px;
  }

  #register {
    transform: translateX(100%);
    top: 165px;
  }

  .form__terms-link {
    color: var(--clr-terms-link);
    font-size: 14px;
  }

  /* Botão de visualizar a senha */
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--hover-clr);
  }

  .logo-container {
    text-align: center;
    margin-top: 20px;
  }

  .logo-img {
    width: 100px;
    opacity: 0.8;
  }
}

@layer utilities {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
